<section class="score-group2 list-group list-group-horizontal justify-content-between">
  <div class="score-user list-group-item px-3">
  User: {{user.username}} 
  </div>
  <div class="score-score list-group-item px-3">
  Score: {{score}}
  </div>
  <div class="score-date list-group-item px-3">
  Date: {{format_date created_at}}
  </div>
</section> 