<div class="container">
    <section class="score row justify-content-center">
        <div class="col-4 border">
        {{user.username}}
        </div>
        <div class="col-4 border">
        {{score}}
        </div>
        <div class="col-4 border">
        {{format_date created_at}}
        </div>
    </section>
</div>  