<div class="container">
    <section class="score row justify-content-center">
        <div class="md-col-3">
        {{user.username}}
        </div>
        <div class="md-col-3">
        {{score}}
        </div>
        <div class="md-col-3">
        {{format_date created_at}}
        </div>
    </section>
</div>  