<div class="container">
    <section class="score row justify-content-center">
        <div class="userScoreDate col-3">
        {{user.username}} {{score}} {{format_date created_at}}
        </div>
    </section>
</div>  