<head>
  <meta charset="UTF-8">
  <title>full_stack_jack</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css"> 
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        <a href="/">Full Stack Jack</a>
      </h1>
      <nav>
        <button id="logout" class="btn-no-style">logout</button>
        <a href="/login">Login</a>
      </nav>
    </header>
      <main class="container container-fluid mt-5">
        {{{ body }}}
      </main>
  </div>
</body>

</html>