<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>full_stack_jack</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
   
      </h1>
    </header>
      <main class="container container-fluid mt-5">
        <h1>
      <a href="/">Full Stack Jack</a>
    </h1>
    <nav>
      <a href="/login">login</a>
    </nav>
        {{{ body }}}
      </main>
  </div>
  </body>

</html>