<form class="signup-form">
  <div class="form-group">
    <label for="username-signup">username:</label>
    <input type="text" class="form-control" id="username-signup" placeholder="Enter username"/>
  </div>
  <div class="form-group">
    <label for="email-signup">email:</label>
    <input type="text" class="form-control" id="email-signup" placeholder="Enter email"/>
  </div>
  <div class="form-group">
    <label for="password-signup">password:</label>
    <input type="password" class="form-control" id="password-signup" placeholder="Enter password"/>
  </div>
  <div>
    <button type="submit" class="btn btn-primary">signup</button>
  </div>
</form>

 <script src="/public/javascript/create-user.js"></script>