<div class="container-fluid" id="game-content">

    <!--dealer-->
    <div class="container" id="dealer-cards">
        <h3>Dealer's Cards</h3>
        <div class="row">
          <div class="col-2">
            <div class="playing-card" id="dealer-card1"></div>
          </div>
          <div class="col-2">
            <div class="playing-card" id="dealer-card2"></div>
          </div>
          <div class="col-2">
            <div class="playing-card" id="dealer-card3"></div>
          </div>
          <div class="col-2">
            <div class="playing-card" id="dealer-card4"></div>
          </div>
          <div class="col-2">
            <div class="playing-card" id="dealer-card5"></div>
          </div>
          <div class="col-2 text-center align-self-center">
            <h1 id="dealer-score">21</h1>
          </div>
        </div>
    </div>
    <!--end dealer-->

    <!--player-->
    <div class="container" id="player-cards">
        <h3>Your Cards</h3>
        <div class="row">
          <div class="col-2">
            <div class="playing-card" id="player-card1"></div>
          </div>
          <div class="col-2">
            <div class="playing-card" id="player-card2"></div>
          </div>
          <div class="col-2">
            <div class="playing-card" id="player-card3"></div>
          </div>
          <div class="col-2">
            <div class="playing-card" id="player-card4"></div>
          </div>
          <div class="col-2">
            <div class="playing-card" id="player-card5"></div>
          </div>
          <div class="col-2 text-center align-self-center">
            <h1 id="player-score">21</h1>
          </div>
        </div>
    </div>
    <!--end player-->

    <!--game info-->
    <div class="container" id="game-info">
        <div class="row align-items-center">
            <div class="col text-center align-self-center">
              <btn type="button" class="btn btn-warning">Next Hand</btn>
          </div>
            <div class="col text-center align-self-center">
                <btn type="button" class="btn btn-danger">Hit</btn>
            </div>
            <div class="col text-center align-self-center">
                <btn type="button" class="btn btn-primary">Stay</btn>
            </div>
            <div class="col text-center align-self-center">
              Credits: 100
          </div>
            <div class="col text-center">Bet:
                <input class="form-control form-control-sm" type="number"></div>
            </div>
        </div>
    </div>
    <div class="container text-center mt-4">
      <h1>Remaining Turns:</h1>
    </div>
    <!--end game info-->
  </div>