<div class="container" id="game">
  <h2>Dealer: <span id="dealer-sum"></span></h2>
  <div class="text-centered" id="dealer-cards">
      <!--<img id="hidden" src="/images/cards/BACK.png">-->
  </div>

  <h2>You: <span id="your-sum"></span></h2>
  <div id="your-cards"></div>

  <br>
  <button class="btn btn-success" id="deal">Deal</button>
  <button class="btn btn-warning" id="hit">Hit</button>
  <button class="btn btn-danger" id="stay">Stay</button>
  <button class="btn btn-primary" id="new-game">New Game</button>
  <p id="results"></p>
  
</div>

<script src="/javascript/game-logic.js"></script>
