<!DOCTYPE html>
<html lang="en">

<h1 class="d-flex justify-content-center">Login to Play</h1>
<form class="login-form container col-6" >
  <div class="form-group">
    <label for="username-login">Username:</label>
    <input type="text" class="form-control" id="username-login" placeholder="Enter username" />
  </div>
  <div class="form-group">
    <label for="password-login">Password:</label>
    <input type="password" class="form-control" id="password-login" placeholder="Password"/>
  </div>
  <div>
    <button type="submit" class="btn btn-primary">Login</button>
  </div>
</form>

<script src="/javascript/login.js"></script>
