<div class="container text-center mt-4" id="profile">
    <h1>
        <span id="player-name">Player Name</span>
    </h1>
    <h4>Wins:
        <span id="wins"></span>
    </h4>
    <h4>Losses:
        <span id="losses"></span>
    </h4>
</div>