* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Abel', sans-serif;
    color: black;
}

/*navbar*/
.navbar {
    background-color: #6479E8;
    color: white;
}

.navbar-brand {
    font-weight: bold;
}


/*Game*/
#game {
    text-align: center;
}
#dealer-cards img {
    aspect-ratio: 5/7;
    height: 175px;
    margin: 5px;
}

#your-cards {
    height: 180px;
    width: 100%;
}

#your-cards img {
    aspect-ratio: 5/7;
    height: 175px;
    margin: 5px;
}

#player-cards {
    height: 180px;
}

/*create account*/
#create-acct {
    background-color: #8AE864;
    border: 3px solid #68C3F2;
    margin-top: 30px;
    border-radius: 15px;
    font-size: 1.5em;
}

/*login*/
#login-acct {
    background-color: #8AE864;
    border: 3px solid #68C3F2;
    margin-top: 30px;
    border-radius: 15px;
    font-size: 1.5em;
}

/*game rules*/
#rule-list {
    font-size: 1.5em;
    margin: 30px;
}

/* Text on highscores page*/
.score {
    color: black;

}