* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Abel', sans-serif;
    color: black;
}

/*navbar*/
.navbar {
    background-color: #6479E8;
    color: white;
}

.navbar-brand {
    font-weight: bold;
}


/*Game*/
#game {
    text-align: center;
}

#dealer-score {
    padding: 10px;
}

#dealer-cards img {
    aspect-ratio: 5/7;
    height: 175px;
    margin: 5px;
    animation: fade-in 1s, slide-in 1s;
}

#hidden {
    aspect-ratio: 5/7;
    height: 175px;
    margin: 5px;
    animation: fade-in 1s, slide-in 1s;
}

#your-score {
    margin-top: 10px;
}

#your-cards {
    height: 200px;
    width: 100%;
}

#dealer-cards {
    height: 200px;
    width: 100%;
}

#your-cards img {
    aspect-ratio: 5/7;
    height: 175px;
    margin: 5px;
    animation: fade-in 1s, slide-in 1s;
}

#player-cards {
    height: 180px;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slide-in {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

#results {
    margin-top: 20px;
    font-size: 2.5em;
    font-weight: bold;
}

/*create account*/
#create-acct {
    background-color: #8AE864;
    border: 3px solid #68C3F2;
    margin-top: 30px;
    border-radius: 15px;
    font-size: 1.5em;
}

/*login*/
#login-acct {
    background-color: #8AE864;
    border: 3px solid #68C3F2;
    margin-top: 30px;
    border-radius: 15px;
    font-size: 1.5em;
}

/*game rules*/
#rule-list {
    font-size: 1.5em;
    margin: 30px;
}

/* Text on highscores page*/
.score {
    color: black;

}