<div class="">
    <section class="score list-group list-group-horizontal">
        <div class="list-group-item">
        {{user.username}}
        </div>
        <div class="list-group-item">
        {{score}}
        </div>
        <div class="list-group-item">
        {{format_date created_at}}
        </div>
    </section>
</div> 